#
# Fingerprint driver configuration
#

config INPUT_FINGERPRINT
	bool "Fingerprints"
	help
	  Say Y here, and a list of supported fingerprints will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

config FPC_FINGERPRINT
	tristate "fpc1020 fingerprint driver"
	depends on INPUT_FINGERPRINT
	default n
	help
	add support for FPC fingerprint driver.

config GOODIX_FINGERPRINT
	tristate "generic goodix fingerprint driver"
	depends on INPUT_FINGERPRINT
	default n
	help
	add support for goodix fingerprint driver.
