#
# Novatek NT36xxx touchscreen driver configuration
#

config TOUCHSCREEN_NT36XXX_F7A
	tristate "Novatek NT36xxx"
	help
	  Say Y here if you have a Novatek NT36xxx touchscreen connected
	  to your system on Redmi Note 7 (lavender).

	  If unsure, say N.
