if INPUT

config INPUT_HALL_SENSOR
	tristate "hall sensor support"
	help
	  Say Y here if you have a hall sensor.

	  If unsure, say N.

source "drivers/xiaomi/input/fingerprint/Kconfig"

source "drivers/xiaomi/input/touchscreen/Kconfig"

endif
